attrs>=19
coverage>=4
coverage-badge>=1
ipython>=7
jinja2>=2
marshmallow==3.11.1
pylint>=2.4
pytest>=5
pytest-cov>=2
pytest-datafiles>=2
pyyaml==5.*,>=5.0.0
six>=1.12
sphinx>=2
sphinx-autodoc-typehints>=1.8.0
sphinx-rtd-theme>=0
yapf>=0
